# =======================================================
# CONFIGURACIÓN DEL SERVIDOR
# =======================================================
PORT=3001
NODE_ENV=development

# =======================================================
# CONFIGURACIÓN DE LA BASE DE DATOS SQLITE (Prisma)
# =======================================================

# DATABASE_URL: La cadena de conexión a SQLite
DATABASE_URL="file:./dev.db"

# Otras variables como JWT_SECRET, etc., irán aquí